# Byte-compiled files
*.pyc

# Intellij / PyCharm
.idea/

# macOS
.DS_Store

# Program files
config.json
ignored_flights.json
webui_last_results.json
daemon.pid
.coverage
logs/
Pipfile
venv/
.venv/

# From SeleniumBase
downloaded_files/
